* {
    font-family: Verdana, Tahoma, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* List items */
li {
    padding: 4px;
    margin: 0 0 4px 0;
    border: 2px solid black;
    border-radius: 4px;
    min-width: 300px;
    display: flex;
}

/* incomplete list items */
.incomplete {
    border-color: red;
    background-color: pink;
}

/* complete list items */
.complete {
    text-decoration: line-through;
    border-color: green;
    background-color: lightgreen;
}

/* List Item buttons */
.dltBtn {
    flex-grow: 0;
    text-decoration: none;
}

.cptBtn {
    flex-grow: 0;
    text-decoration: none;
}

/* List item text spans */
.tText {
    flex-grow: 1;
    margin-right: 1rem;
}

/* Task Counter */
.taskCounter {
    text-align: center;
}